{% extends "layout.html" %}

{% block title %}
    Story End
{% endblock %}

{% block main %}
    <div class="container">
        <h1>Wow! That was such an amazing story!</h1>
        <h2>Would you like to save it to your library?</h2>

        <div class="button-navigation-buttons">
            <a href="/">
                <button class="story-end-action-button">No Thanks 🏠</button>
            </a>
            <button class="story-end-action-button" onclick="saveStory()">Save 📚</button>
        </div>
    </div>

    <div id="loading-screen">
      <div class="spinner"></div>
      <p class="loading-text">Saving Story...</p>
    </div>
{% endblock %}
